
<div class="container-fluid" id="fondo">

    <div class="container text-center">
      <h1>Empresa</h1>
      <div>
        <div *ngIf="header">
          <button class="btn btn-secondary" id="modificar" (click)="backWelcome()"><i
              class="fa-solid fa-arrow-left-long"></i> Regresar</button>&nbsp;&nbsp;
          <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i>
            Salir</button>
        </div>
      </div>
    </div>
  
    <div *ngIf="tab" >
        <table id="table" id="table-consult" >
          <thead>
            <tr>
              <th>IdEmpresa</th>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Nit</th>
              <th>Cantidad de mayusculas</th>
              <th>Cantidad de minusculas</th>
              <th>Cantidad de caracteres especiales</th>
              <th>Cantidad de números</th>
              <th>Longitud minima de contraseña</th>
              <th>Longitud maxima de contraseña</th>
              <th>Días de expiracion</th>
              <th>Intentos de bloqueo</th>
              <th>Cant. preguntas validas</th>
              <th>Fecha de creación</th>
              <th>Usuario de creación</th>
              <th>Fecha de modificación</th>
              <th>Usuario de modificación</th>
              <th>Opciones</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let  data of BussinessRules">
              <td>{{data.idCompany}}</td>
              <td>{{data.name}}</td>
              <td>{{data.address}}</td>
              <td>{{data.nit}}</td>
              <td>{{data.passwordAmountUppercase}}</td>
              <td>{{data.passwordAmountLowercase}}</td>
              <td>{{data.passwordAmountSpecialCharacters}}</td>
              <td>{{data.passwordAmountNumber}}</td>
              <td>{{data.passwordlength}}</td>
              <td>25</td>
              <td>{{data.passwordAmountExpirationsDays}}</td>
              <td>{{data.passwordAmountAttemptsBeforeBlocking}}</td>
              <td>{{data.passwordAmountQuestionsValidate}}</td>
              <td>{{data.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{data.userCreation}}</td>
              <td>{{data.modificationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{data.userModification}}</td>
              <td>
                <div>
                  <button *ngIf="btnUpdate" class="btn btn-secondary" id="modificar" (click)="Modify(data)"> <i
                      class="fa-solid fa-pen-to-square"></i>
                    &nbsp;Modificar</button>
                  <button *ngIf="!btnUpdate" class="btn btn-danger btn-sm" disabled>No Disponible</button>
  
  
                </div>
              </td>
              <td>
                <div>
                  <button *ngIf="btnDelete" class="btn btn-danger" id="delete" (click)="Delete(data)"> <i
                      class="fa-solid fa-delete-left"></i>
                    &nbsp;Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
          <button *ngIf="btnAdd" class="btn btn-primary" id="agregar" (click)="Add()"><i
              class="fa-regular fa-square-plus"></i> Agregar</button>
          &nbsp;
          <button *ngIf="exporte" (click)="exportToExcel()" class="btn btn-primary" id="exportar"><i
              class="fa-solid fa-download"></i> Exportar</button>
          &nbsp;
          <button *ngIf="print" onclick="javascript:window.print()" class="btn btn-primary" id="imprimir"><i
              class="fa-solid fa-print"></i> Imprimir</button>
    </div>
  
    <div class="container text-left" *ngIf="modify">
      <form (ngSubmit)="modForm()" id="modForm">
        <h1>Modificación</h1>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-regular fa-user"></i>&nbsp; Nombre</span>
          <input maxlength="100" name="name" [(ngModel)]="companyDataModify.name" type="text" class="form-control"
            placeholder="{{companyDataModify.name}}">
  
          <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i>&nbsp;Dirección</span>
          <input maxlength="200" name="address" [(ngModel)]="companyDataModify.address" type="text" class="form-control"
            placeholder="{{companyDataModify.address}}" required>
  
          <span class="input-group-text"><i class="fa-solid fa-pen"></i> &nbsp;Nit</span>
          <input maxlength="20" name="nit" [(ngModel)]="companyDataModify.nit" type="text" class="form-control"
            placeholder="{{companyDataModify.nit}}" required>
        </div>
        <br>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-hashtag"></i>&nbsp;Cantidad de
            mayusculas</span>
          <input maxlength="10" min="1" name="mayusculas" [(ngModel)]="companyDataModify.passwordAmountUppercase"
            type="number" class="form-control" placeholder="{{companyDataModify.passwordAmountUppercase}}" required>
  
          <span class="input-group-text"><i class="fa-solid fa-hashtag"></i>&nbsp; Cantidad de
            minusculas</span>
          <input maxlength="10" min="1" name="Minusculas" [(ngModel)]="companyDataModify.passwordAmountLowercase"
            type="number" class="form-control" placeholder="{{companyDataModify.passwordAmountLowercase}}" required>
  
          <span class="input-group-text"><i class="fa-solid fa-hashtag"></i>&nbsp; Cantidad de
            números</span>
          <input maxlength="10" min="1" name="Numeros" [(ngModel)]="companyDataModify.passwordAmountNumber" type="number"
            class="form-control" placeholder="{{companyDataModify.passwordAmountNumber}}" required>
        </div>
        <br>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-hashtag"></i>&nbsp; Cantidad de
            carácteres Especiales</span>
          <input maxlength="10" min="1" name="Especial" [(ngModel)]="companyDataModify.passwordAmountSpecialCharacters"
            type="number" class="form-control" placeholder="{{companyDataModify.passwordAmountSpecialCharacters}}"
            required>
  
          <span class="input-group-text"><i class="fa-solid fa-minus"></i>&nbsp; Longitud minima
          </span>
          <input maxlength="10" min="1" name="min" [(ngModel)]="companyDataModify.passwordlength" type="number"
            class="form-control" placeholder="{{companyDataModify.passwordlength}}" required>
  
          <span class="input-group-text"><i class="fa-solid fa-plus"></i> &nbsp; Longitud
            maxima</span>
          <input maxlength="10" min="1" type="number" class="form-control" placeholder="Longitud maxima 25" disabled>
        </div>
        <br>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>&nbsp; Cantidad
            de días para caducar</span>
          <input maxlength="10" min="1" name="expiracion" [(ngModel)]="companyDataModify.passwordAmountExpirationsDays"
            type="number" class="form-control" placeholder="{{companyDataModify.passwordAmountExpirationsDays}}" required>
  
          <span class="input-group-text"><i class="fa-solid fa-shield-halved"></i>&nbsp; Cantidad
            de intentos para bloqueo</span>
          <input maxlength="10" min="1" name="bloqueo"
            [(ngModel)]="companyDataModify.passwordAmountAttemptsBeforeBlocking" type="number" class="form-control"
            placeholder="{{companyDataModify.passwordAmountAttemptsBeforeBlocking}}" required>
  
          <span class="input-group-text"><i class="fa-solid fa-clipboard-user"></i> &nbsp;Cantidad
            de preguntas a validar</span>
          <input maxlength="10" min="1" name="validas" [(ngModel)]="companyDataModify.passwordAmountQuestionsValidate"
            type="number" class="form-control" placeholder="{{companyDataModify.passwordAmountQuestionsValidate}}"
            required>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
          <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
        </div>
      </form>
    </div>
  
    <div class="container text-left" *ngIf="add">
      <form (ngSubmit)="addForm()" id="addForm">
        <h1>Creación</h1>
        <div class="input-group mb-3">
  
          <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
          <input name="name" [(ngModel)]="companyDataCreate.name" type="text" class="form-control" placeholder="Nombre"
            required>
  
          <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
          <input name="address" [(ngModel)]="companyDataCreate.address" type="text" class="form-control"
            placeholder="Direccion" required>
  
          <span class="input-group-text"><i class="fa-solid fa-pen"></i></span>
          <input name="address" [(ngModel)]="companyDataCreate.nit" type="text" class="form-control" placeholder="Nit"
            required>
        </div>
        <br>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
          <input maxlength="10" min="1" name="mayusculas" [(ngModel)]="companyDataCreate.passwordAmountUppercase"
            type="number" class="form-control" placeholder="Cantidad de Mayusculas" required>
  
          <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
          <input maxlength="10" min="1" name="Minusculas" [(ngModel)]="companyDataCreate.passwordAmountLowercase"
            type="number" class="form-control" placeholder="Cantidad de Minusculas" required>
  
          <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
          <input maxlength="10" min="1" name="Numeros" [(ngModel)]="companyDataCreate.passwordAmountNumber" type="number"
            class="form-control" placeholder="Cantidad de números" required>
        </div>
        <br>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
          <input maxlength="10" min="1" name="Especial" [(ngModel)]="companyDataCreate.passwordAmountSpecialCharacters"
            type="number" class="form-control" placeholder="Cantidad minima de Caracteres Especiales" required>
  
          <span class="input-group-text"><i class="fa-solid fa-minus"></i></span>
          <input maxlength="10" min="1" name="min" [(ngModel)]="companyDataCreate.passwordlength" type="number"
            class="form-control" placeholder="Longitud minima" required>
  
          <span class="input-group-text"><i class="fa-solid fa-plus"></i></span>
          <input maxlength="10" min="1" type="number" class="form-control" placeholder="Longitud maxima 25" disabled>
        </div>
        <br>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input maxlength="10" min="1" name="expiracion" [(ngModel)]="companyDataCreate.passwordAmountExpirationsDays"
            type="number" class="form-control" placeholder="Días Expiracion" required>
  
          <span class="input-group-text"><i class="fa-solid fa-shield-halved"></i></span>
          <input maxlength="10" min="1" name="bloqueo"
            [(ngModel)]="companyDataCreate.passwordAmountAttemptsBeforeBlocking" type="number" class="form-control"
            placeholder="Intentos de bloqueo" required>
  
          <span class="input-group-text"><i class="fa-solid fa-clipboard-user"></i></span>
          <input maxlength="10" min="1" name="validas" [(ngModel)]="companyDataCreate.passwordAmountQuestionsValidate"
            type="number" class="form-control" placeholder="Preguntas validas" required>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
          <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
        </div>
      </form>
    </div>  
</div>
