<div class="container-fluid" >

        <div class="container text-center">
                <h1>Empresa</h1>
                <div align="right">
                        <div *ngIf="header"> 
                                <button class="btn btn-primary"  id="modificar" (click)="backWelcome()"><i class="fa-solid fa-arrow-left-long"></i> Regresar</button>&nbsp;&nbsp;
                                <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i> x Salir</button>
                        </div>
                </div>
               

        </div>

        <div *ngIf="tab">
                <div>
                        <table class="table table-hover">
                                <thead>
                                        <tr>
                                                <th>IdEmpresa</th>
                                                <th>Nombre</th>
                                                <th>Direccion</th>
                                                <th>Nit</th>
                                                <th>Cantidad de mayusculas</th>
                                                <th>Cantidad de minusculas</th>
                                                <th>Cantidad de caracteres especiales</th>
                                                <th>Cantidad de números</th>
                                                <th>Longitud minima de contraseña</th>
                                                <th>Longitud maxima de contraseña</th>
                                                <th>Días de expiracion</th>
                                                <th>Intentos de bloqueo</th>
                                                <th>Cant. preguntas validas</th>
                                                <th>Fecha de creación</th>
                                                <th>Usuario de creación</th>
                                                <th>Fecha de modificación</th>
                                                <th>Usuario de modificación</th>
                                                <th>Opción</th>
                                        </tr>
                                </thead>
                                <tbody>
        
                                        <tr *ngFor="let  rule of BussinessRules">
                                                <td>{{rule.idCompany}}</td>
                                                <td>{{rule.name}}</td>
                                                <td>{{rule.address}}</td>
                                                <td>{{rule.nit}}</td>
                                                <td>{{rule.passwordAmountUppercase}}</td>
                                                <td>{{rule.passwordAmountLowercase}}</td>
                                                <td>{{rule.passwordAmountSpecialCharacters}}</td>
                                                <td>{{rule.passwordAmountNumber}}</td>
                                                <td>{{rule.passwordlength}}</td>
                                                <td>25</td>
                                                <td>{{rule.passwordAmountExpirationsDays}}</td>
                                                <td>{{rule.passwordAmountAttemptsBeforeBlocking}}</td>
                                                <td>{{rule.passwordAmountQuestionsValidate}}</td>
                                                <td>{{rule.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td>{{rule.userCreation}}</td>
                                                <td>{{rule.modificationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td>{{rule.userModification}}</td>
                                                <td>
                                                        <div>
                                                                <button *ngIf="btnUpdate" class="btn btn-secondary"  id="modificar"
                                                                        (click)="Modify(rule)"> <i class="fa-solid fa-pen-to-square"></i>
                                                                        Modificar</button>
                                                                <button *ngIf="!btnUpdate" class="btn btn-danger btn-sm"
                                                                        disabled>No Disponible</button>
                                                        </div>
                                                </td>
                                        </tr>
                                </tbody>
        
                        </table>
                        <div>
             
                                <button *ngIf="btnAdd" class="btn btn-secondary" id="agregar" (click)="Add()"><i class="fa-regular fa-square-plus"></i> Agregar</button>
              
                              
                                &nbsp;
                                <button *ngIf="exporte" class="btn btn-primary" id="exportar"><i class="fa-solid fa-download"></i> Exportar</button>
                                &nbsp;
                                <button *ngIf="print" class="btn btn-primary" id="imprimir"><i class="fa-solid fa-print"></i> Imprimir</button>
            
                        </div>
        
                </div>
        </div>
                
        <div class="container-fluid" *ngIf="modify">
                <form (ngSubmit)="modForm()" id="modForm">
                        <h1>Modificación</h1>
                        <label>Nombre: </label>
                        <label> <input type="text" id="name" name="name" [(ngModel)]="companyModify.name"
                                        placeholder="{{companyModify.name}}" required>
                        </label>
                        <label>Direccion: </label>
                        <label> <input type="text" id="address" name="address" [(ngModel)]="companyModify.address"
                                        placeholder="{{companyModify.address}}" required>
                        </label>
                        <label>Nit: </label>
                        <label> <input type="text" id="address" name="address" [(ngModel)]="companyModify.nit"
                                        placeholder="{{companyModify.nit}}" required>
                        </label>
                        <label>Cantidad minima de Mayusculas: </label>
                        <label><input type="number" id="mayusculas" name="mayusculas"
                                        [(ngModel)]="companyModify.passwordAmountUppercase"
                                        placeholder="{{companyModify.passwordAmountUppercase}}" required>
                        </label>
                        <label>Cantidad minima de Minusculas:</label>
                        <label> <input type="number" id="Minusculas" name="Minusculas"
                                        [(ngModel)]="companyModify.passwordAmountLowercase"
                                        placeholder="{{companyModify.passwordAmountLowercase}}" required>
                        </label>
                        <label>Cantidad minima de Caracteres Especiales:</label>
                        <label> <input type="number" id="Especial" name="Especial"
                                        [(ngModel)]="companyModify.passwordAmountSpecialCharacters"
                                        placeholder="{{companyModify.passwordAmountSpecialCharacters}}" required>
                        </label>
                        <label>Cantidad minima de Numeros:</label>
                        <label> <input type="number" id="Numeros" name="Numeros"
                                        [(ngModel)]="companyModify.passwordAmountNumber"
                                        placeholder="{{companyModify.passwordAmountNumber}}" required>
                        </label>
                        <label>Long. Minima: </label>
                        <label><input type="number" id="min" name="min" [(ngModel)]="companyModify.passwordlength"
                                        placeholder="{{companyModify.passwordlength}}" required>
                        </label>
                        <label>Long. Maxima:</label>
                        <label><input type="number" placeholder="25" disabled>
                        </label>
                        <label>Días Expiracion:</label>
                        <label><input type="number" id="expiracion" name="expiracion"
                                        [(ngModel)]="companyModify.passwordAmountExpirationsDays"
                                        placeholder="{{companyModify.passwordAmountExpirationsDays}}" required>
                        </label>
                        <label>Intentos de bloqueo:</label>
                        <label>
                                <input type="number" id="bloqueo" name="bloqueo"
                                        [(ngModel)]="companyModify.passwordAmountAttemptsBeforeBlocking"
                                        placeholder="{{companyModify.passwordAmountAttemptsBeforeBlocking}}" required>
                        </label>
                        <label>Preguntas validas:</label>
                        <label>
                                <input type="number" id="validas" name="validas"
                                        [(ngModel)]="companyModify.passwordAmountQuestionsValidate"
                                        placeholder="{{companyModify.passwordAmountQuestionsValidate}}" required>
                        </label>
                        <label>
                                <button type="submit" class="btn btn-success">Confirmar</button>&nbsp;
                                <button class="btn btn-warning" id="Regresar" (click)="back()">Regresar</button>
                        </label>
                </form>
        </div>
        
        <div class="container text-left" *ngIf="add">
                <form (ngSubmit)="addForm()" id="addForm">
                        <h1 align="center">Creación</h1>
                        <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
                                <input name="name" [(ngModel)]="companyDataCreate.name" type="text" class="form-control" placeholder="Nombre"  required>
        
                                <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
                                <input name="address" [(ngModel)]="companyDataCreate.address" type="text" class="form-control" placeholder="Direccion"  required>
        
                                <span class="input-group-text"><i class="fa-solid fa-pen"></i></span>
                                <input name="address" [(ngModel)]="companyDataCreate.nit" type="text" class="form-control" placeholder="Nit"  required>
                        </div>
                        <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                                <input name="mayusculas" [(ngModel)]="companyDataCreate.passwordAmountUppercase" type="number" class="form-control" placeholder="Cantidad de Mayusculas"  required>
        
                                <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                                <input name="Minusculas" [(ngModel)]="companyDataCreate.passwordAmountLowercase" type="number" class="form-control" placeholder="Cantidad de Minusculas"  required>
        
                                <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                                <input  name="Numeros" [(ngModel)]="companyDataCreate.passwordAmountNumber" type="number" class="form-control" placeholder="Cantidad de números"  required>
                        </div>
                        <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                                <input name="Especial" [(ngModel)]="companyDataCreate.passwordAmountSpecialCharacters" type="number" class="form-control" placeholder="Cantidad minima de Caracteres Especiales"  required>
        
                                <span class="input-group-text"><i class="fa-solid fa-minus"></i></span>
                                <input name="min"  [(ngModel)]="companyDataCreate.passwordlength" type="number" class="form-control" placeholder="Longitud minima"  required>
        
                                <span class="input-group-text"><i class="fa-solid fa-plus"></i></span>
                                <input   type="number" class="form-control" placeholder="Longitud maxima 25"  disabled>
                        </div>
                        <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                                <input name="expiracion"  [(ngModel)]="companyDataCreate.passwordAmountExpirationsDays" type="number" class="form-control" placeholder="Días Expiracion"  required>
        
                                <span class="input-group-text"><i class="fa-solid fa-shield-halved"></i></span>
                                <input name="bloqueo" [(ngModel)]="companyDataCreate.passwordAmountAttemptsBeforeBlocking" type="number" class="form-control" placeholder="Intentos de bloqueo"  required>
        
                                <span class="input-group-text"><i class="fa-solid fa-clipboard-user"></i></span>
                                <input  name="validas" [(ngModel)]="companyDataCreate.passwordAmountQuestionsValidate" type="number" class="form-control" placeholder="Preguntas validas"  required>
                        </div>
                        <p align="right">
                                <button type="submit" class="btn btn-success">Confirmar</button>&nbsp;
                                <button class="btn btn-warning" id="Regresar" (click)="back()">Regresar</button>
                        </p>
                </form>
        </div>

   
  
</div>


