table {
    width: 95%;
    height: 25%;
    text-align: center;
    margin: 3rem;
    background-color: #ffffff00 !important;
    color: white;
 }

 #fondo{
  color: white;
  image-orientation: flip;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-lineas-dinamicas-estilo-papel_23-2149008629.jpg?w=1380&t=st=1696453773~exp=1696454373~hmac=e9d700217d8344c407c4b576988b58ba39071623a3c76ec09936e9566d39af31);
  width: 100%;
  height: 100%;
}

 caption, td, th {
    padding: 0.1rem;
 }
 
 th {
    border-bottom: 1px solid #999;
    width: 30rem;
    font-size: medium;
 }

td{
    border-bottom: 1px solid #999;
    width: 5rem;

}

 .btn-primary{
  background-color: #2d3839;
  border-color: #2d3839;
  color:#e7ecef
}
.btn-primary:hover{
  background-color: #e0e4ce;
  border-color: #e0e4ce;
  color: #2d3839;
}



.btn-secondary {
  background-color: #383832;
  border-color: #383832;
  color: #e7ecef;
}

.btn-secondary:hover {
  background-color: #60748C;
  border-color: #60748C;
  color: #e7ecef;
}



.btn-danger {
  background-color: #0c0b0b;
  border-color: #0c0b0b;
}
.btn-danger:hover {
  background-color: #fe0101;
  border-color: #fe0101;
  color: #e7ecef;
}

