table {
    width: 75%;
    border: 2px solid #11151c;
    text-align: center;
    border-collapse: collapse;
    margin:5%;
 }

 caption, td, th {
    padding: 1%;
 }
 
 th, td {
    border-bottom: 1px solid #999;
    width: 5%;
 }


 .btn-primary{
   background-color: #e7ecef;
   border-color: #e7ecef;
   color:#11151c
 }
 .btn-primary:hover{
   background-color: #11151c;
   border-color: #11151c;
   color: #e7ecef;
 }
 

 .btn-secondary {
   background-color: #e7ecef;
   border-color: #e7ecef;
   color: #364156;
 }

 .btn-secondary:hover {
   background-color: #364156;
   border-color: #364156;
   color: #e7ecef;
 }

 
 .btn-danger {
   background-color: #364156;
   border-color: #364156;
 }
 .btn-danger:hover {
   background-color: #f05d5e;
   border-color: #f05d5e;
 }


 
 div{
   align-items: right;
 }
