table {
    width: auto;
    height: auto;
    border: 2px solid #11151c;
    text-align: center;
    border-collapse: collapse;
    margin: 5rem;
    font-size: small;
 }

 #fondo{
  color: white;
  background-image: url(https://images.unsplash.com/photo-1533563906091-fdfdffc3e3c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80);
  width: 100%;
  height: 100%;
}

 caption, td, th {
    padding: 0.1rem;
 }
 
 th, td {
    border-bottom: 1px solid #999;
    width: 5rem;
 }



 .btn-primary{
  background-color: #2d3839;
  border-color: #2d3839;
  color:#e7ecef
}
.btn-primary:hover{
  background-color: #e0e4ce;
  border-color: #e0e4ce;
  color: #2d3839;
}



.btn-secondary {
  background-color: #114d4d;
  border-color: #114d4d;
  color: #e7ecef;
}

.btn-secondary:hover {
  background-color: #1cbebe;
  border-color: #1cbebe;
  color: #e7ecef;
}



.btn-danger {
  background-color: #27191c;
  border-color: #27191c;
  
}
.btn-danger:hover {
  background-color: #fe0101;
  border-color: #fe0101;
  color: #e7ecef;
}

