<form (ngSubmit)="resetPassword()" class="container" id="loginForm">
  <div class="login1">
    <h2>Reinicio de Contraseña</h2>
    <div class="inputBox">
      <label>Ingresa tu contraseña: </label>
      <input type="text" class="form-control" aria-describedby="passwordHelpInline" placeholder="contraseña"
             [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}" required>
      <br>
      <br>
      <label>Ingresa tu nueva contraseña: </label>
      <input type="password" class="form-control" aria-describedby="passwordHelpInline" placeholder="contraseña"
             [(ngModel)]="data.newPassword" [ngModelOptions]="{standalone: true}" required>
      <br>
      <br>
      <label>Confirma tu nueva contraseña: </label>
      <input type="password" class="form-control" aria-describedby="passwordHelpInline" placeholder="contraseña"
             [(ngModel)]="data.confirmNewPassword" [ngModelOptions]="{standalone: true}" required>
    </div>
    <br>
    <div class="inputBox">
      <button class="button" type="submit" id="btn">Ingresar</button>
    </div>
    <br>
    <div>
      <h3>{{messageError}}</h3>
    </div>
    <br>
    <!--    <a (click)="recoverPassword()">Recuperar Contraseña</a>-->
    <!--        <br><br>-->
    <!--        <a href="#">Registrarse</a>-->
  </div>
</form>
