<div class="container">
  <h2>Politicas de contraseña:</h2>
  <p>La contraseña debe cumplir con las siguientes reglas: </p>
  <ol>Cantidad minima de Mayusculas: {{BussinessRules?.passwordAmountUppercase}}</ol>
  <ol>Cantidad minima de Minusculas: {{BussinessRules?.passwordAmountLowercase}}</ol>
  <ol>Cantidad minima de Numeros: {{BussinessRules?.passwordAmountNumber}} </ol>
  <ol>Cantidad minima de Caracteres Especiales: {{BussinessRules?.passwordAmountSpecialCharacters}}</ol>
  <ol>Longitud Minima: {{BussinessRules?.passwordlength}}</ol>
  <ol>Longitud Maxima: 25</ol>
  <br><br>
</div>


<form (ngSubmit)="resetPassword()" class="container" id="loginForm">
  <div class="login1">
    <h2>Reinicio de Contraseña</h2>
    <div class="inputBox">
      <label>Ingresa tu contraseña: </label>
      <input type="password" class="form-control" aria-describedby="passwordHelpInline" placeholder="Contraseña"
        [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}" required>
      <br>
      <br>
      <label>Ingresa tu nueva contraseña: </label>
      <input type="password" class="form-control" aria-describedby="passwordHelpInline" placeholder="Contraseña"
        [(ngModel)]="data.newPassword" [ngModelOptions]="{standalone: true}" required>
      <br>
      <br>
      <label>Confirma tu nueva contraseña: </label>
      <input type="password" class="form-control" aria-describedby="passwordHelpInline" placeholder="Contraseña"
        [(ngModel)]="data.confirmNewPassword" [ngModelOptions]="{standalone: true}" required>
    </div>
    <br>
    <div class="inputBox">
      <button class="btn btn-secondary" type="submit" id="btn">Ingresar</button>
    </div>
    <br>
    <div>
      <h3>{{messageError}}</h3>
    </div>
    <br>
  </div>
</form>