<div>
    <h1>Bienvenido {{user}}</h1>
    <div *ngIf="!questionComplete">
        <form (ngSubmit)="questionsCreateForm()" id="questionsForm">
            <h3>Por favor crea tus preguntas de seguridad</h3>
                <input type="text" id="question" name="question" [(ngModel)]="question" placeholder="pregunta" required>
                <input type="password" id="response" name="response" [(ngModel)]="response" placeholder="respuesta" required>
            <button type="submit" mat-raised-button>Agregar</button>
        </form>
    </div>
    <div  *ngIf="questionCreate">
        <h3>Las preguntas creadas son:</h3>
        <table>
            <div *ngFor="let data of QuestionsData">
                <label >{{data.questions}}: </label>
                <label >{{data.respond}}</label>
                
            </div>
        </table>
        <button id="Confirmar" (click)="Confirmar()">Confirmar</button>

    </div>
   
</div>
<div *ngIf="questionComplete">
    <h1>Consideraciónes:</h1>
    <p>La contraseña debe cumplir con las siguientes reglas: </p>
    <ol>Cantidad minima de Mayusculas: {{BussinessRules?.passwordAmountUppercase}}</ol>
    <ol>Cantidad minima de Minusculas: {{BussinessRules?.passwordAmountLowercase}}</ol>
    <ol>Cantidad minima de Numeros: {{BussinessRules?.passwordAmountNumber}} </ol>
    <ol>Cantidad minima de Caracteres Especiales: {{BussinessRules?.passwordAmountSpecialCharacters}}</ol>
    <ol>Longitud Minima: {{BussinessRules?.passwordlength}}</ol>
    <ol>Longitud Maxima:  25</ol>
    <br>
    <h2>Crea tu Contraseña</h2>
    <form (ngSubmit)="passwordCreateForm()" id="passwordForm" >
        <div>
            <input  type="password" id="nueva"  placeholder="Nueva Contraseña" [(ngModel)]="newPassword" name="newPassword" required>
        </div>
        <div>
            
            <input  type="password" id="confirma" placeholder="Confirma Contraseña"  [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
        <br>
        <div >
            <button type="submit" mat-raised-button>Confirmar</button>
        </div>
      

    </form>
   
</div>