<div class="container" *ngIf="userRecover">
  <h2>¿Olvidaste tu contraseña?</h2>
  <br>
  <form (ngSubmit)="recover()" class="container" id="recoverForm">
    <div class="login1">
      <div class="inputBox">
        <input type="text" class="form-control" aria-describedby="passwordHelpInline" placeholder="Usuario"
          [(ngModel)]="user" [ngModelOptions]="{standalone: true}" required>
      </div>
      <br>
      <div class="inputBox">
        <button class="btn btn-success" type="submit" id="btn">Ingresar </button>&nbsp;
        <button class="btn btn-warning" id="modificar" (click)="back()">Regresar</button>
      </div>
      <br>

      <div>
        <h3>{{messageError}}</h3>
      </div>
    </div>
  </form>
</div>

<div class="container" *ngIf="!userRecover">
  <div class="container">
    <h1>Bienvenido {{user}}</h1>
    <div *ngIf="!questionComplete">
      <form (ngSubmit)="questionsForm()" id="questionsForm">
        <p>Por favor completa las preguntas de seguridad</p>

        <div *ngFor="let data of QuestionsData; let i=index">
          <label>{{data.questions}}: </label>

          <input type="text" id="{{i}}" name="{{i}}" [(ngModel)]="data.respond" placeholder="respuesta" required>
          <p> </p>
        </div>
        <div> 
          <button class="btn btn-success" type="submit">Confirmar</button>
        </div>


      </form>
    </div>
  </div>
  <div *ngIf="questionComplete">
    <h1>Consideraciónes:</h1>
    <p>La contraseña debe cumplir con las siguientes reglas: </p>
    <ol>Cantidad minima de Mayusculas: {{BussinessRules?.passwordAmountUppercase}}</ol>
    <ol>Cantidad minima de Minusculas: {{BussinessRules?.passwordAmountLowercase}}</ol>
    <ol>Cantidad minima de Numeros: {{BussinessRules?.passwordAmountNumber}} </ol>
    <ol>Cantidad minima de Caracteres Especiales: {{BussinessRules?.passwordAmountSpecialCharacters}}</ol>
    <ol>Longitud Minima: {{BussinessRules?.passwordlength}}</ol>
    <ol>Longitud Maxima: 25</ol>
    <br>
    <h2>Cambio de Contraseña</h2>
    <form (ngSubmit)="passwordForm()" id="passwordForm">
      <div>
        <input type="password" id="nueva" placeholder="Nueva Contraseña" [(ngModel)]="newPassword" name="newPassword"
          required>
      </div>
      <div>
        <input type="password" id="confirma" placeholder="Confirma Contraseña" [(ngModel)]="confirmPassword"
          name="confirmPassword" required>
      </div>
      <br>
      <div>
        <button type="submit" class="btn btn-success" >Confirmar</button>
      </div>


    </form>

  </div>
</div>