<div *ngIf="userRecover">
  <h1>¿Olvidaste tu contraseña?</h1>
  <br>
  <form (ngSubmit)="recover()" class="container" id="recoverForm">
    <div class="login1">
      <div class="inputBox">
        <input type="text" class="form-control" aria-describedby="passwordHelpInline" placeholder="Usuario" style="text-transform:lowercase;"
               [(ngModel)]="user" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="inputBox">
        <button class="button" type="submit" id="btn">Ingresar</button>
      </div>
      <br>
      <div>
        <h3>{{messageError}}</h3>
      </div>
    </div>
  </form>
</div>
