<div class="container-fluid" id="fondo">
  <div class="container" *ngIf="userRecover">
    <h2>¿Olvidaste tu contraseña?</h2>
    <form (ngSubmit)="recover()" id="recoverForm">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-at"></i></span>
        <input name="name" [(ngModel)]="user" type="text" class="form-control" placeholder="Usuario" required>
      </div>
      <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
      <button class="btn btn-primary" id="modificar" (click)="back()">Regresar</button>
      <br>
      <div>
        <h3>{{messageError}}</h3>
      </div>
    </form>
  </div>

  <div class="container" *ngIf="!userRecover">
    <div class="container">
      <h1>Completa la información por favor, {{dataUser.name}} {{dataUser.lastName}}</h1>
      <div *ngIf="!questionComplete">
        <form (ngSubmit)="questionsForm()" id="questionsForm">
          <p>Preguntas de Seguridad</p>
          <div *ngFor="let data of QuestionsData; let i=index" class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-question fa-rotate-180"></i>&nbsp; {{data.questions}}
              &nbsp;<i class="fa-solid fa-question"></i>&nbsp; </span>
            <input class="form-control" type="password" id="{{i}}" name="{{i}}" [(ngModel)]="data.respond"
              placeholder="Respuesta" required>
          </div>
          <div>
            <button class="btn btn-secondary" type="submit">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="questionComplete">

      <div class="p-3 m-0 border-0 bd-example m-0 border-0">

        <h2 class="list-group">La contraseña debe cumplir con las siguientes reglas: </h2>
        <li class="list-group-item">Cantidad minima de Mayusculas: {{BussinessRules?.passwordAmountUppercase}}</li>
        <li class="list-group-item">Cantidad minima de Minusculas: {{BussinessRules?.passwordAmountLowercase}}</li>
        <li class="list-group-item">Cantidad minima de Numeros: {{BussinessRules?.passwordAmountNumber}} </li>
        <li class="list-group-item">Cantidad minima de Caracteres Especiales:
          {{BussinessRules?.passwordAmountSpecialCharacters}}</li>
        <li class="list-group-item">Longitud Minima: {{BussinessRules?.passwordlength}}</li>
        <li class="list-group-item">Longitud Maxima: 25</li>
        <br>
      </div>

      <div class="p-3 m-0 border-0 bd-example m-0 border-0">
        <h2>Cambio de contraseña</h2>
        <form (ngSubmit)="passwordForm()" id="passwordForm">
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-unlock fa-fade"></i>&nbsp; </span>
            <input class="form-control" type="password" id="nueva" placeholder="Nueva Contraseña"
              [(ngModel)]="newPassword" name="newPassword" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-lock fa-beat-fade"></i>&nbsp; </span>
            <input class="form-control" type="password" id="confirma" placeholder="Confirma Contraseña"
              [(ngModel)]="confirmPassword" name="confirmPassword" required>
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-secondary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
