<div class="container-fluid" id="fondo">

  <div class="container text-center">
    <h1>Inasistencias</h1>
    <div>
      <div *ngIf="header">
        <button class="btn btn-secondary" id="modificar" (click)="backWelcome()"><i
            class="fa-solid fa-arrow-left-long"></i> Regresar</button>&nbsp;
        <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i>
          Salir</button>
      </div>
    </div>
  </div>

  <div *ngIf="tab">
    <div>
      <table id="table-consult">
        <thead>
          <tr>
            <th>Id Inasistencia</th>
            <th>Empleado</th>
            <th>Fecha inicial</th>
            <th>Fecha final</th>
            <th>Motivo de inasistencia</th>
            <th>Fecha procesado</th>
            <th>Fecha de creacion</th>
            <th>Usuario de creacion</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let  data of absenceData.slice((page - 1) * pageSize, page * pageSize)">
            <td>{{data.idAbsence}}</td>
            <td>{{ getEmployeeName(data.idEmployee) }}</td>
            <td>{{data.initialDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{data.finalDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{data.reason}}</td>
            <td>{{data.processingDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{data.createDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{data.userCreation}}</td>
            <td>
              <div>
                <button *ngIf="btnDelete" class="btn btn-danger" id="delete" (click)="Delete(data)"> <i
                    class="fa-solid fa-delete-left"></i>
                  &nbsp;Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
      <p>Paginas</p>
      <ngb-pagination [collectionSize]="tamColeccion" [(page)]="page" [boundaryLinks]="false"></ngb-pagination>
      <div>
        <button *ngIf="btnAdd" class="btn btn-primary" id="agregar" (click)="Add()"><i
            class="fa-regular fa-square-plus"></i> Agregar</button>

        &nbsp;
       <button *ngIf="exporte" class="btn btn-primary" (click)="exportToExcel()" id="exportar"><i class="fa-solid fa-download"></i>  Exportar</button>
        &nbsp;
        <button *ngIf="print" onclick="javascript:window.print()" class="btn btn-primary" id="imprimir"><i class="fa-solid fa-print"></i>
          Imprimir</button>

      </div>
    </div>
  </div>

  <div class="container text-left" *ngIf="add">
    <form (ngSubmit)="addForm()" id="addForm">
      <h1>Agregar</h1>
      <div class="input-group mb-3">

        <span class="input-group-text"><i class="fa-solid fa-user-gear"></i>&nbsp; Empleado</span>
                <select class="form-select" name="empleado" id="empleado" [(ngModel)]="absenceDataCreate.idEmployee" required>
                    <option *ngFor="let employee of employeeData" value="{{employee.idPerson}}" selected>{{employee.name}}
                    </option>
                </select>

                <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>&nbsp;Fecha inicial</span>
                <input type="date" id="initialDate" [(ngModel)]="absenceDataCreate.initialDate" name="initialDate" class="form-control" required>

                <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>&nbsp;Fecha Final</span>
                <input type="date" id="finalDate" [(ngModel)]="absenceDataCreate.finalDate" name="finalDate" class="form-control" required>

                <span class="input-group-text"><i class="fa-solid fa-table-list"></i>&nbsp;Motivo de inasistencia</span>
                <input maxlength="300" type="text" id="reason" placeholder="Motivo" [(ngModel)]="absenceDataCreate.reason" name="reason"
                class="form-control" required>
      </div>
      <div>
        <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
        <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
      </div>
    </form>
  </div>

</div>
