

<body id="fondo">


  <div *ngIf="header">
    <div class="container text-center">
      <h1>Periodos para planilla</h1>
      <button class="btn btn-secondary" id="modificar" (click)="backWelcome()"><i class="fa-solid fa-arrow-left-long"></i>
        Regresar</button>&nbsp;&nbsp;
      <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i>
        Salir</button>
    </div>
  </div>

  <div *ngIf="tab">
    <div>
      <table id="table" id="table-consult">
        <thead>
          <tr>
            <th>Año</th>
            <th>Mes</th>
            <th>Fecha inicio</th>
            <th>Fecha Fin</th>
            <th>Fecha de creación</th>
            <th>Usuario de creación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of PayrollPeriodsData">
            <td>{{data.idPK.year}}</td>
            <td>{{data.idPK.month}}</td>
            <td>{{data.startDate |date:'dd/MM/yyyy '}}</td>
            <td>{{data.endDate |date:'dd/MM/yyyy '}}</td>
            <td>{{data.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{data.userCreation}}</td>
          </tr>
        </tbody>

      </table>
      <div>
        <button *ngIf="btnAdd" class="btn btn-primary" id="agregar" (click)="Add()"><i
            class="fa-regular fa-square-plus"></i> Agregar</button>
        &nbsp;
        <button *ngIf="exporte" class="btn btn-primary" id="exportar"><i class="fa-solid fa-download"></i>
          Exportar</button>
        &nbsp;
        <button *ngIf="print" onclick="javascript:window.print()" class="btn btn-primary" id="imprimir"><i class="fa-solid fa-print"></i> Imprimir</button>
      </div>
    </div>
  </div>



  <div class="container text-left" *ngIf="add">
    <form (ngSubmit)="addForm()" id="addForm">
      <br>
      <h1>Generacion de Planilla</h1>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>&nbsp;Ingrese mes a calcular</span>
        <input class="form-control" type="month" name="periodo" [(ngModel)]="periodo">
      </div>

      <br>
      <div>
        <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
        <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
      </div>

    </form>
  </div>







</body>

