div {
  text-align: center;
  margin: 20px;
}

input[type="file"] {
  display: none;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
