<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
<section>
  <img src="https://img.freepik.com/foto-gratis/vista-superior-material-oficina-sobre-mesa_23-2148148337.jpg?w=1380&t=st=1693159887~exp=1693160487~hmac=96d8c051e216290631d53973b4bbcf97b76c840d7b456ed11554455d79cbb2a6" class="fondo">
  <div class="container">
    <div class="login1">
      <h2>Inicio de Sesion</h2>
      <div class="inputBox">
        <input type="text" placeholder="Usuario">
      </div>
      <div class="inputBox">
        <input type="password" placeholder="Contraseña">
      </div>
      <div class="inputBox">
        <input type="submit" value="Ingresar" id="btn">
      </div>
      <div>
        <a href="#">Recuperar Contraseña</a>
        <a href="#">Registrarse</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
