<h1>Sucursales</h1>

<div *ngIf="header">
    <button class="btn btn-danger" id="modificar" (click)="revoke()">Salir</button>&nbsp;
    <button class="btn btn-secondary" id="modificar" (click)="backWelcome()">Regresar</button>
</div>

<div *ngIf="tab">
    <table class="table table-striped">
        <th>IdSucursal</th>
        <th>Empresa</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Fecha de creacion</th>
        <th>Usuario de creacion</th>
        <th>Fecha de modificacion</th>
        <th>Usuario de modificacion</th>
        <th>Opción</th>
        <tr *ngFor="let location of locationsData;">
            <td>{{location.idBranch}}</td>
            <td>{{ getCompanyName(location.idCompany) }}</td>
            <td>{{location.name}}</td>
            <td>{{location.address}}</td>
            <td>{{location.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{location.userCreation}}</td>
            <td>{{location.modificationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{location.userModification}}</td>
            <td>
                <div>
                    <button *ngIf="btnUpdate" class="btn btn-warning" id="modificar" (click)="Modify(location)">
                        Modificar</button>
                    <button *ngIf="!btnUpdate" class="btn btn-danger btn-sm" disabled>No Disponible</button>
                </div>

            </td>
        </tr>
    </table>
    <p>
        <button *ngIf="btnAdd" class="btn btn-success" id="agregar" (click)="Add()">Agregar</button>
        &nbsp;
        <button *ngIf="exporte" class="btn btn-info" id="exportar">Exportar</button>
        &nbsp;
        <button *ngIf="print" class="btn btn-primary" id="imprimir" >Imprimir</button>
    </p></div>



<div *ngIf="modify">
    <form (ngSubmit)="modForm()" id="modForm">
        <div>
            <p>Empresa:</p>
            <select id="companyDataSelect" name="companyDataSelect" [(ngModel)]="locationDataModify.idCompany" required>
                <option *ngFor="let company of companyData" value="{{company.idCompany}}" required>{{company.name}}</option>
            </select>
            <p>Nombre:</p>
            <input type="text" id="name" name="name" [(ngModel)]="locationDataModify.name"
                placeholder="{{locationDataModify.name}}" required>
            <p>Dirección: </p>
            <p>
                <input type="text" id="address" name="address" [(ngModel)]="locationDataModify.address"
                    placeholder="{{locationDataModify.address}}" required>
            </p>
            <p>
                <button class="btn btn-success" type="submit" id="btn">Confirmar</button>&nbsp;
                <button class="btn btn-warning" id="Regresar" (click)="back()">Regresar</button>
            </p>
        </div>
    </form>
</div>


<div *ngIf="add">
    <form (ngSubmit)="addForm()" id="addForm">
        <div>
            <p>Empresa:</p>
            <select id="companyDataSelect" name="companyDataSelect" [(ngModel)]="locationDataCreate.idCompany">
                <option *ngFor="let data of companyData" value="{{data.idCompany}}" required>{{data.name}}</option>
            </select>
            <p>Nombre:</p>
            <input type="text" id="name" name="name" [(ngModel)]="locationDataCreate.name" placeholder="Nombre"
                required>
            <p>Dirección: </p>
            <p>
                <input type="text" id="address" name="address" [(ngModel)]="locationDataCreate.address"
                    placeholder="Dirección" required>
            </p>
            <p>
                <button class="btn btn-success" type="submit" id="btn">Confirmar</button>&nbsp;
                <button class="btn btn-warning" id="Regresar" (click)="back()">Regresar</button>
        </div>
    </form>
</div>