<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="create-user.component.css">
</head>
<body>
  <h1>Creación de usuario</h1>
  <form (ngSubmit)="create()" id="create">
      <label for="idUser">Correo electrónico:</label>
      <input type="text" id="idUser"  placeholder="tucorero@ejemplo.com" [(ngModel)]="idUserValue" name="idUser" required >
      <br>
      <label for="name">Nombre:</label>
      <input type="text" id="name" placeholder="Nombre" [(ngModel)]="nameValue" name="name" required >
      <br>
      <label for="lastName">Apellido:</label>
      <input type="text" id="lastName" placeholder="Apellido" [(ngModel)]="lastNameValue" name="lastName" required >
      <br>
      <label for="dob">Fecha de nacimiento:</label>
      <input type="date" id="dob" placeholder="aaaa-mm-dd" [(ngModel)]="dobValue" name="dob" required>
      <br>
      <label for="idGender">Selecciona tu género:</label>
      <select id="idGender"   [(ngModel)]="selectedGender" name="idGender" required>
      <option *ngFor="let option of genderOptions" [value]="option.id">{{ option.name }}</option></select>
      <br>
      <label for="email">Correo adicional:</label>
      <input type="text" id="email" placeholder="tucorero@ejemplo.com" [(ngModel)]="emailValue" name="email" required>
      <br>
      <label for="mobilePhone">Número telefonico:</label>
      <input type="text" id="mobilePhone" placeholder="12345678" [(ngModel)]="mobilePhoneValue" name="mobilePhone" required>
      <br>
      <input type="hidden" id="creationDate" name="creationDate" [value]="creationDate">
      <button (click)="create()">Crear Usuario</button>
      
  </form>
</body>
</html>

