<h1>Creación de usuario</h1>
<div *ngIf ="!showSpinner" >
<div *ngIf="header">
  <button class="btn btn-danger"   (click)="revoke()">Salir</button>&nbsp;
  <button class="btn btn-warning"   (click)="back()">Regresar</button>
</div>
</div>
<div><h1>Espera por favor</h1>
  <div id="spinner" *ngIf="showSpinner" class="spinner-border m-5" role="status">
  <span class="sr-only"></span>
</div>
</div>

<body *ngIf ="!showSpinner" >
  <div>
    <form (ngSubmit)="create()" id="create"><br>

      <label for="idUser">Correo electrónico: </label>
      <input type="text" id="idUser" placeholder="tucorreo@ejemplo.com" [(ngModel)]="idUserValue" name="idUser" required>
      <br><br>
      <label for="name">Nombre: </label>
      <input type="text" id="name" placeholder="Nombre" [(ngModel)]="nameValue" name="name" required>
      <br><br>
      <label for="lastName">Apellido: </label>
      <input type="text" id="lastName" placeholder="Apellido" [(ngModel)]="lastNameValue" name="lastName" required>
      <br><br>
      <label for="dob">Fecha de nacimiento: </label>
      <input type="date" id="dob" placeholder="aaaa-mm-dd" [(ngModel)]="dobValue" name="dob" required>
      <br><br>
      <label for="idGender">Selecciona tu género: </label>
      <select id="idGender" [(ngModel)]="selectedGender" name="idGender" required>
        <option *ngFor="let data of genderData" value="{{data.idGender}}" required>{{data.name}}</option>
      </select>
      <br><br>
      <label for="email">Correo adicional: </label>
      <input type="text" id="email" placeholder="tucorero@ejemplo.com" [(ngModel)]="emailValue" name="email" required>
      <br><br>
      <label for="mobilePhone">Número telefonico: </label>
      <input type="number" id="mobilePhone" placeholder="12345678" [(ngModel)]="mobilePhoneValue" name="mobilePhone"
        required>
      <p>
        <input type="hidden" id="creationDate" name="creationDate" [value]="creationDate">
      </p>
      <p>Fotografia:</p>
      <form>
        <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput required>
        <img *ngIf="imageSrc" [src]="imageSrc" style="max-width: 300px;" alt="Imagen Previa">
        <br>
        <button class="btn btn-warning" (click)="selectImage()" id="selected">Seleccionar Imagen</button>
      </form>
      <button class="btn btn-success" (click)="create()">Crear Usuario</button>
    </form>
  </div>

</body>
