<body id="fondo">


  <div *ngIf="header">
    <div class="container text-center">
      <h1>Calculo de planilla</h1>
      <button class="btn btn-primary" id="modificar" (click)="backWelcome()"><i class="fa-solid fa-arrow-left-long"></i>
        Regresar</button>&nbsp;&nbsp;
      <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i>
        Salir</button>
    </div>
  </div>

  <div class="container text-center"  *ngIf="showSpinner">
    <div id="spinner" class="spinner-border " role="status" style="width: 10rem; height: 10rem;">
      <br>
    </div>
    <h1>Espera por favor</h1>
  </div>


  <div *ngIf="tab">
    <div>
      <table id="table-consult">
        <thead>
          <tr>
            <th>Id Planilla</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Empleado</th>
            <th>Fecha de contratacion</th>
            <th>Puesto</th>
            <th>Estatus empleado</th>
            <th>Sueldo base</th>
            <th>Bonificacion decreto</th>
            <th>Otros ingresos</th>
            <th>Descuento IGGS</th>
            <th>Descuento ISR</th>
            <th>Descuento inasistencias</th>
            <th>Salario Neto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let  data of payrollData.slice((page - 1) * pageSize, page * pageSize)">
            <td>{{data.idPayrollDetails}}</td>
            <td>{{data.year}}</td>
            <td>{{data.month}}</td>
            <td>{{getEmployeeName(data.idEmployee) }}</td>
            <td>{{data.dateOfHire |date:'dd/MM/yyyy '}}</td>
            <td>{{getPositionName(data.idPosition) }}</td>
            <td>{{getStatusEmployeeName(data.idStatusEmployee) }}</td>
            <td>{{data.baseSalaryIncome | currency: 'Q '}}</td>
            <td>{{data.bonusIncomeDecree | currency: 'Q '}}</td>
            <td>{{data.incomeOther | currency: 'Q '}}</td>
            <td>{{data.igss | currency: 'Q '}}</td>
            <td>{{data.isr | currency: 'Q '}}</td>
            <td>{{data.noShowDiscount | currency: 'Q '}}</td>
            <td>{{data.netSalary | currency: 'Q '}}</td>
          </tr>
        </tbody>
      </table>
      <p>Paginas</p>
      <ngb-pagination [collectionSize]="tamColeccion" [(page)]="page" [boundaryLinks]="false"></ngb-pagination>

      <div>
        <button *ngIf="btnAdd" class="btn btn-primary" id="agregar" (click)="Add()"><i
          class="fa-regular fa-square-plus"></i> Confirmar</button>
      &nbsp;
        <button *ngIf="exporte" class="btn btn-primary" id="exportar"><i class="fa-solid fa-download"></i>
          Exportar</button>
        &nbsp;
        <button *ngIf="print" onclick="javascript:window.print()" class="btn btn-primary" id="imprimir"><i class="fa-solid fa-print"></i>
          Imprimir</button>

      </div>
    </div>
  </div>

</body>
