<h1>Roles</h1>

<form >
    <div class="mat-elevation-z8">
        <table >
            <th>IdRole</th>
            <th>Nombre</th>
            <th>Fecha de creación</th>
            <th>Usuario de creación</th>
            <th>Fecha de modificación</th>
            <th>Usuario de modificación</th>
            <th>Opción</th>
            <tr *ngFor="let data of RolesData">
             <td>{{data.idRole}}</td>
             <td>{{data.name}}</td>
             <td>{{data.creationDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
             <td>{{data.userCreation}}</td>
             <td>{{data.userModification}}</td>
             <td>{{data.modificationDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
             <td><button mat-raised-button>Modíficar</button></td>
         </tr>
         <button mat-raised-button type="submit">Agregar</button>
       
    </table>
    </div>
</form>
