<div class="container-fluid" id="fondo">

  <div class="container text-center">
    <h1>Roles</h1>
    <div>
      <div *ngIf="header">
        <button class="btn btn-secondary" id="modificar" (click)="backWelcome()"><i
            class="fa-solid fa-arrow-left-long"></i> Regresar</button>&nbsp;&nbsp;
        <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i>
          Salir</button>
      </div>
    </div>
  </div>

  <div *ngIf="tab">
    <div>
      <table id="table-consult">
        <thead>
          <tr>
            <th>IdRol</th>
            <th>Nombre</th>
            <th>Fecha de Creación</th>
            <th>Usuario de Creación</th>
            <th>Fecha de Modificación</th>
            <th>Usuario de Modificación</th>
            <th>Opciones</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let  data of roleData.slice((page - 1) * pageSize, page * pageSize)">
            <td>{{data.idRole}}</td>
            <td>{{data.name}}</td>
            <td>{{data.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{data.userCreation}}</td>
            <td>{{data.modificationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{data.userModification}}</td>
            <td>
              <div>
                <button *ngIf="btnUpdate" class="btn btn-secondary" id="modificar" (click)="Modify(data)"> <i
                    class="fa-solid fa-pen-to-square"></i>
                  &nbsp;Modificar</button>
                <button *ngIf="!btnUpdate" class="btn btn-danger btn-sm" disabled>No Disponible</button>


              </div>
            </td>
            <td>
              <div>
                <button *ngIf="btnDelete" class="btn btn-danger" id="delete" (click)="Delete(data)"> <i
                    class="fa-solid fa-delete-left"></i>
                  &nbsp;Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Paginas</p>
      <ngb-pagination [collectionSize]="tamColeccion" [(page)]="page" [boundaryLinks]="false"></ngb-pagination>
      <div>

        <button *ngIf="btnAdd" class="btn btn-primary" id="agregar" (click)="Add()"><i
            class="fa-regular fa-square-plus"></i> Agregar</button>
        &nbsp;

        <button *ngIf="exporte" class="btn btn-primary"  (click)="exportToExcel()" id="exportar"><i class="fa-solid fa-download"></i>
          Exportar</button>
          &nbsp;
        <button *ngIf="print" onclick="javascript:window.print()" class="btn btn-primary" id="imprimir"><i
            class="fa-solid fa-print"></i> Imprimir</button>

      </div>

    </div>
  </div>

  <div class="container text-left" *ngIf="modify">
    <form (ngSubmit)="modForm()" id="modForm">
      <h1>Modificación</h1>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-regular fa-user"></i>&nbsp; Nombre</span>
        <input maxlength="50" name="name" [(ngModel)]="rolDataModify.name" type="text" class="form-control"
          placeholder="{{rolDataModify.name}}">

      </div>
      <div>
        <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
        <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
      </div>
    </form>
  </div>

  <div class="container text-left" *ngIf="add">
    <form (ngSubmit)="addForm()" id="addForm">
      <h1>Creación</h1>
      <div class="input-group mb-3">

        <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
        <input maxlength="50" name="name" [(ngModel)]="rolDataCreate.name" type="text" class="form-control" placeholder="Nombre"
          required>
      </div>
      <div>
        <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
        <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
      </div>
    </form>
  </div>
</div>
