<h1>Modulos</h1>
<div *ngIf="header">
  <button class="btn btn-danger" id="modificar" (click)="revoke()">Salir</button>&nbsp;
  <button class="btn btn-secondary" id="modificar" (click)="backWelcome()">Regresar</button>
</div>


<div *ngIf="tab">
  <div>
    <table class="table table-striped">
      <th>IdModulo</th>
      <th>Nombre</th>
      <th>Orden del modulo</th>
      <th>Fecha de creación</th>
      <th>Usuario de creación</th>
      <th>Usuario de modificación</th>
      <th>Fecha de modificación</th>
      <th>Opción</th>
      <tr *ngFor="let modulo of ModulosData">
        <td>{{modulo.idModule}}</td>
        <td>{{modulo.name}}</td>
        <td>{{modulo.orderMenu}}</td>
        <td>{{modulo.creationDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>{{modulo.userCreation}}</td>
        <td>{{modulo.userModification}}</td>
        <td>{{modulo.modificationDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>
          <div>
            <button *ngIf="btnUpdate" class="btn btn-warning" id="modificar" (click)="Modify(modulo)">
                Modificar</button>
            <button *ngIf="!btnUpdate" class="btn btn-danger btn-sm" disabled>No Disponible</button>
        </div>
        </td>
      </tr>
    </table>
    <p>
      <button *ngIf="btnAdd" class="btn btn-success" id="agregar" (click)="Add()">Agregar</button>
      &nbsp;
      <button *ngIf="exporte" class="btn btn-info" id="exportar">Exportar</button>
      &nbsp;
      <button *ngIf="print" class="btn btn-primary" id="imprimir">Imprimir</button>
  </p></div>
</div>

<div *ngIf="modify">
  <form (ngSubmit)="modForm()" id="modForm">
    <div>
      <p>IdModulo: </p>
      <input type="text" id="idRol" name="idRol" [(ngModel)]="moduloDataModify.idModule"
        placeholder="{{moduloModify.idModule}}" required disabled="">
      <p>Nombre del Modulo:</p>
      <p>
        <input type="text" id="name" name="name" [(ngModel)]="moduloDataModify.name" placeholder="{{moduloModify.name}}"
          required>
      </p>
      <p>
        <button class="btn btn-success" type="submit" id="btn">Confirmar</button>&nbsp;
        <button class="btn btn-warning" id="Regresar" (click)="back()">Regresar</button>
      </p>
    </div>
  </form>
</div>


<div *ngIf="add">
  <form (ngSubmit)="addForm()" id="addForm">
    <div>
      <p>Nombre del Modulo:</p>
      <p>
        <input type="text" id="name" name="name" [(ngModel)]="moduloDataCreate.name" placeholder="Nombre" required>
      </p>
      <p>
        <button class="btn btn-success" type="submit" id="btn">Confirmar</button>&nbsp;
        <button class="btn btn-warning" id="Regresar" (click)="back()">Regresar</button>
      </p>
    </div>
  </form>
</div>