<div class="container-fluid">

    <div class="container text-center">
        <h1>Flujo de Status del Empleado</h1>
        <div>
            <div *ngIf="header">
                <button class="btn btn-primary" id="modificar" (click)="backWelcome()"><i
                        class="fa-solid fa-arrow-left-long"></i> Regresar</button>&nbsp;&nbsp;
                <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i
                        class="fa-solid fa-right-from-bracket"></i> Salir</button>
            </div>
        </div>
    </div>

    <div *ngIf="tab">
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Estado Actual</th>
                        <th>Estado Nuevo</th>
                        <th>Nombre</th>
                        <th>Fecha de creación</th>
                        <th>Usuario de creación</th>
                        <!-- <th>Fecha de modificación</th>
                        <th>Usuario de modificación</th> -->
                        <th>Opciones</th>
                        <!-- <th>&nbsp;</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let  data of flowStatusEmployeeData.slice((page - 1) * pageSize, page * pageSize)">
                        <td>{{getStatusName(data.idPK.idStatusCurrent)}}</td>
                        <td>{{getStatusName(data.idPK.idStatusNew)}}</td>
                        <td>{{data.nameEvent}}</td>
                        <td>{{data.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{data.userCreation}}</td>
                        <!-- <td>{{data.modificationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{data.userModification}}</td> -->
                        <!-- <td>
                            <div>
                                <button *ngIf="btnUpdate" class="btn btn-secondary" id="modificar"
                                    (click)="Modify(data)"> <i class="fa-solid fa-pen-to-square"></i>
                                    Modificar</button>
                                <button *ngIf="!btnUpdate" class="btn btn-danger btn-sm" disabled>No Disponible</button>
                            </div>
                        </td> -->
                        <td>
                            <div>
                                <button *ngIf="btnDelete" class="btn btn-danger" id="delete" (click)="Delete(data)">
                                    <i class="fa-solid fa-delete-left"></i>
                                    Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Paginas</p>
      <ngb-pagination [collectionSize]="tamColeccion" [(page)]="page" [boundaryLinks]="false"></ngb-pagination>
            <div>
                <button *ngIf="btnAdd" class="btn btn-secondary" id="agregar" (click)="Add()"><i
                        class="fa-regular fa-square-plus"></i> Agregar</button>
                &nbsp;
                <button *ngIf="exporte" class="btn btn-primary" id="exportar"><i class="fa-solid fa-download"></i>
                    Exportar</button>
                &nbsp;
                <button *ngIf="print" onclick="javascript:window.print()" class="btn btn-primary" id="imprimir"><i class="fa-solid fa-print"></i>
                    Imprimir</button>
            </div>
        </div>
    </div>



    <div class="container text-left" *ngIf="modify">
        <form (ngSubmit)="modForm()" id="modForm">
            <h1>Modificación</h1>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-brands fa-slack"></i> &nbsp; Nombre del </span>
                <input maxlength="50" name="name" [(ngModel)]="statusEmployeeDataModify.name" type="text" class="form-control" required>
            </div>
            <div>
                <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
                <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
            </div>
        </form>
    </div>

    <div class="container text-left" *ngIf="add">
        <form (ngSubmit)="addForm()" id="addForm">
            <h1>Creación</h1>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-regular fa-pen-to-square"></i> &nbsp; Estado Actual</span>
                <select (change)="seleccionCambiada($event)" class="form-select" name="idStatusCurrent" [(ngModel)]="flowStatusEmployeeDataCreate.idPK.idStatusCurrent">
                    <option *ngFor="let status of statusEmployeeData" value="{{status.idStatusEmployee}}" required>
                        {{status.name}}
                    </option>
                </select>
                <span class="input-group-text"><i class="fa-regular fa-pen-to-square"></i>&nbsp; Estado Nuevo</span>
                <select class="form-select" name="idStatusNew" [(ngModel)]="flowStatusEmployeeDataCreate.idPK.idStatusNew">
                    <option *ngFor="let status of statusEmployeeData2" value="{{status.idStatusEmployee}}" required>
                        {{status.name}}
                    </option>
                </select>
                <span class="input-group-text"><i class="fa-solid fa-file-pen"></i> &nbsp; Nombre del Evento</span>
                <input maxlength="50" name="name" [(ngModel)]="flowStatusEmployeeDataCreate.nameEvent" type="text" class="form-control" required>
            </div>
            <div>
                <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
                <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
            </div>
        </form>
    </div>


</div>
