

<body id="fondo">


    <div *ngIf="header">
      <div class="container text-center">
        <h1>Periodos para planilla</h1>
        <button class="btn btn-secondary" id="modificar" (click)="backWelcome()"><i class="fa-solid fa-arrow-left-long"></i>
          Regresar</button>&nbsp;&nbsp;
        <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i>
          Salir</button>
      </div>
    </div>
  
    <div *ngIf="tab">
      <div>
        <table id="table" id="table-consult">
          <thead>
            <tr>
              <th>Año</th>
              <th>Mes</th>
              <th>Total de ingresos</th>
              <th>Total de descuentos</th>
              <th>Fecha y hora de proceso</th>
              <th>Usuario de creación</th>
              <th>Fecha de creación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of PayrollHeaderData">
              <td>{{data.idPK.year}}</td>
              <td>{{data.idPK.month}}</td>
              <td>{{data.salary | currency: 'Q '}}</td>
              <td>{{data.totalDiscounts | currency: 'Q '}}</td>
              <td>{{data.dateProcess |date:'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{data.userCreation}}</td>
              <td>{{data.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
          </tbody>
  
        </table>
        <div>
          <button *ngIf="exporte" class="btn btn-primary" id="exportar"><i class="fa-solid fa-download"></i>
            Exportar</button>
          &nbsp;
          <button *ngIf="print" class="btn btn-primary" id="imprimir"><i class="fa-solid fa-print"></i> Imprimir</button>
        </div>
      </div>
    </div>
  
  
  
  
  </body>
  
  