<div class="container-fluid">

    <div class="container text-center">
      <h1>Persona</h1>
      <div>
        <div *ngIf="header">
          <button class="btn btn-primary" id="modificar" (click)="backWelcome()"><i
              class="fa-solid fa-arrow-left-long"></i> Regresar</button>&nbsp;
          <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i>
            Salir</button>
        </div>
      </div>
    </div>
  
    <div *ngIf="tab">
      <div>
        <table class="table table-hover" id="table-consult">
          <thead>
            <tr>
              <th>Id Persona</th>
              <th>Nomnbre</th>
              <th>Apellido</th>
              <th>Fecha de nacimiento</th>
              <th>Genero</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Correo electronico</th>
              <th>Estado civil</th>
              <th>Fecha de creacion</th>
              <th>Usuario de creacion</th>
              <th>Fecha de modificacion</th>
              <th>Usuario de modificacion</th>
              <th>Opciones</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let  data of personData">
              <td>{{data.idPerson}}</td>
              <td>{{data.name}}</td>
              <td>{{data.lastname}}</td>
              <td>{{data.dob}}</td>
              <td>{{ getGenderName(data.idGender) }}</td>
              <td>{{data.address}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.email}}</td>
              <td>{{ getMaritalName(data.idMaritalStatus) }}</td>
              <td>{{data.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{data.userCreation}}</td>
              <td>{{data.modificationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{data.userModification}}</td>
              <td>
                <div>
                  <button *ngIf="btnUpdate" class="btn btn-secondary" id="modificar" (click)="Modify(data)"> <i
                      class="fa-solid fa-pen-to-square"></i>
                    &nbsp;Modificar</button>
                  <button *ngIf="!btnUpdate" class="btn btn-danger btn-sm" disabled>No Disponible</button>
  
  
                </div>
              </td>
              <td>
                <div>
                  <button *ngIf="btnDelete" class="btn btn-danger" id="delete" (click)="Delete(data)"> <i
                      class="fa-solid fa-delete-left"></i>
                    &nbsp;Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
  
        </table>
        <div>
          <button *ngIf="btnAdd" class="btn btn-secondary" id="agregar" (click)="Add()"><i
              class="fa-regular fa-square-plus"></i> Agregar</button>
  
          &nbsp;
          <button *ngIf="exporte" class="btn btn-primary" id="exportar"><i class="fa-solid fa-download"></i>
            Exportar</button>
          &nbsp;
          <button *ngIf="print" class="btn btn-primary" id="imprimir"><i class="fa-solid fa-print"></i>
            Imprimir</button>
  
        </div>
      </div>
    </div>
  
      <div class="container text-left" *ngIf="modify">
          <form (ngSubmit)="modForm()" id="modForm">
              <h1>Modificación</h1>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-regular fa-user"></i>&nbsp;Nombre</span>
                <input type="text" id="name" [(ngModel)]="personDataModify.name" name="name" class="form-control" required>
                
                <span class="input-group-text"><i class="fa-regular fa-user"></i>&nbsp;Apellido</span>
                <input type="text" id="lastname" [(ngModel)]="personDataModify.lastname" name="lastname" class="form-control" required>

                  <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>&nbsp;Fecha de nacimiento</span>
                  <input type="date" id="initialDate" [(ngModel)]="personDataModify.initialDate" name="initialDate" class="form-control" required>

                  <span class="input-group-text"><i class="fa-solid fa-venus-mars"></i>&nbsp; Genero</span>
                <select class="form-select" name="gender" [(ngModel)]="personDataModify.idGender">
                    <option *ngFor="let gender of genderData" value="{{gender.idGender}}" required>
                        {{gender.name}}
                    </option>
                </select>
              </div>
              <br>
              <div class="input-group mb-3">
                
                <span class="input-group-text"><i class="fa-solid fa-compass"></i>&nbsp;Direccion</span>
                <input type="text" id="address" [(ngModel)]="personDataModify.address" name="address" class="form-control" required>

                  <span class="input-group-text"><i class="fa-solid fa-phone"></i>&nbsp;Telefono</span>
                  <input type="number" id="phone" [(ngModel)]="personDataModify.phone" name="phone" class="form-control" required>
               
                <span class="input-group-text"><i class="fa-solid fa-user-gear"></i>&nbsp; Estado civil</span>
                <select class="form-select" name="marital" [(ngModel)]="personDataModify.idGender">
                    <option *ngFor="let marital of maritalData" value="{{marital.idGender}}" required>
                        {{marital.name}}
                    </option>
                </select>  
            
            </div>

              

              <div>
                  <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
                  <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
              </div>
          </form>
      </div>
  
  
    <div class="container text-left" *ngIf="add">
      <form (ngSubmit)="addForm()" id="addForm">
        <h1>Agregar</h1>
        <div class="input-group mb-4">
  
  
                  <span class="input-group-text"><i class="fa-regular fa-user"></i>&nbsp;Nombre</span>
                  <input type="text" id="name" [(ngModel)]="personDataCreate.name" name="name" class="form-control" required>

                  <span class="input-group-text"><i class="fa-regular fa-user"></i>&nbsp;Apellido</span>
                  <input type="text" id="lastname" [(ngModel)]="personDataCreate.lastname" name="lastname" class="form-control" required>

                  <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>&nbsp;Fecha de nacimiento</span>
                  <input type="date" id="initialDate" [(ngModel)]="personDataCreate.initialDate" name="initialDate" class="form-control" required>


                 
        </div>
        <br>
              <div class="input-group mb-4">
                
                <span class="input-group-text"><i class="fa-solid fa-venus-mars"></i>&nbsp; Genero</span>
                <select class="form-select" name="gender" [(ngModel)]="personDataCreate.idGender">
                    <option *ngFor="let gender of genderData" value="{{gender.idGender}}" required>
                        {{gender.name}}
                    </option>
                </select>
                <span class="input-group-text"><i class="fa-solid fa-compass"></i>&nbsp;Direccion</span>
                <input type="text" id="address" [(ngModel)]="personDataCreate.address" name="address" class="form-control" required>

                  <span class="input-group-text"><i class="fa-solid fa-phone"></i>&nbsp;Telefono</span>
                  <input type="number" id="phone" [(ngModel)]="personDataCreate.phone" name="phone" class="form-control" required>

                
              </div>

              

        
                
        
           
        
              <div class="input-group mb-3">

                <span class="input-group-text"><i class="fa-regular fa-user"></i>&nbsp; Estado civil</span>
                <select class="form-select" name="marital" [(ngModel)]="personDataCreate.idGender">
                    <option *ngFor="let marital of maritalData" value="{{marital.idGender}}" required>
                        {{marital.name}}
                    </option>
                </select>

                <span class="input-group-text"><i class="fa-solid fa-shop"></i> &nbsp; Sucursal</span>
                <select class="form-select" name="location" [(ngModel)]="employeeDataCreate.idLocation" required>
                  <option *ngFor="let location of locationsData" value="{{location.idLocation}}" required>{{location.name}}
                  </option>
                </select>
        
                <span class="input-group-text"><i class="fa-solid fa-check-to-slot"></i>&nbsp; Estado del empleado</span>
                  <select class="form-select" name="idStatusEmployee" [(ngModel)]="employeeDataCreate.idStatusEmployee" required>
                    <option *ngFor="let statusEmployee of statusEmployeeData" value="{{statusEmployee.idStatusEmployee}}" required>{{statusEmployee.name}}
                    </option>
                  </select>
            
        
                
        
        
              </div>
        
              <br>
              <div class="input-group mb-3">

                <span class="input-group-text"><i class="fa-solid fa-check-to-slot"></i>&nbsp; Puesto</span>
                <select class="form-select" name="idPosition" [(ngModel)]="employeeDataCreate.idPosition" required>
                  <option *ngFor="let position of positionData" value="{{position.idPosition}}" required>{{position.name}}
                  </option>
                </select>
        
                <span class="input-group-text"><i class="fa-solid fa-hand-holding-dollar"></i>&nbsp; Salario Base</span>
                <input maxlength="100" name="baseSalaryIncome" [(ngModel)]="employeeDataCreate.baseSalaryIncome" type="float"
                  class="form-control" placeholder="{{employeeDataCreate.baseSalaryIncome}}">
        
                <span class="input-group-text"><i class="fa-solid fa-coins"></i>&nbsp; Bono Decreto</span>
                <input maxlength="100" name="bonusIncomeDecree" [(ngModel)]="employeeDataCreate.bonusIncomeDecree" type="float"
                  class="form-control" placeholder="{{employeeDataCreate.bonusIncomeDecree}}">
        
                
        
              </div>
              <br>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-sack-dollar"></i>&nbsp; Otros Ingresos</span>
                <input maxlength="100" name="incomeOther" [(ngModel)]="employeeDataCreate.incomeOther" type="float"
                  class="form-control" placeholder="{{employeeDataCreate.incomeOther}}">
        
                <span class="input-group-text"><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>&nbsp;
                  Descuento IGSS</span>
                <input maxlength="100" name="igss" [(ngModel)]="employeeDataCreate.igss" type="float" class="form-control"
                  placeholder="{{employeeDataCreate.igss}}">
        
                <span class="input-group-text"><i class="fa-solid fa-user-minus"></i>&nbsp; Descuento ISR</span>
                <input maxlength="100" name="isr" [(ngModel)]="employeeDataCreate.isr" type="float" class="form-control"
                  placeholder="{{employeeDataCreate.isr}}">
        
                <span class="input-group-text"><i class="fa-solid fa-person-circle-minus"></i>&nbsp; Descuento por
                  inasistencia</span>
                <input maxlength="100" name="noShowDiscount" [(ngModel)]="employeeDataCreate.noShowDiscount" type="float"
                  class="form-control" placeholder="{{employeeDataCreate.noShowDiscount}}">
                    
                  <button>Agregar documento</button>
              </div>      
        <div>
          <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
          <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
        </div>
      </form>
    </div>
  
  </div>