<h1>Asignación de usuarios a roles</h1>

<div *ngIf="header">
  <button class="btn btn-danger" id="modificar" (click)="revoke()">Salir</button>&nbsp;
  <button class="btn btn-secondary" id="modificar" (click)="backWelcome()">Regresar</button>
</div>

<div *ngIf="tab">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id del usuario</th>
          <th>Id Role</th>
          <th>Fecha de creación</th>
          <th>Usuario de creación</th>
          <th>Fecha de modificación</th>
          <th>Usuario de modificación</th>
          <th>Opción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  status of roleUserData">
          <td>{{status.idUser}}</td>
          <td>{{status.idRole}}</td>
          <td>{{status.creationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{status.userCreation}}</td>
          <td>{{status.modificationDate |date:'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{status.userModification}}</td>
          <td>
            <div>
              <button class="btn btn-warning" id="modificar" (click)="Modify(status)">
                Modificar</button>
            </div>
          </td>
        </tr>
      </tbody>

    </table>

    <button class="btn btn-success" id="agregar" (click)="Add()">Agregar</button>

  </div>
</div>

<div *ngIf="add">
  <form (ngSubmit)="addForm()" id="addForm">
    <h1>Creación</h1>
    <p><label>Selecciona un Usuario:</label></p>
    <select name="userSelector" [(ngModel)]="roleUserDataCreate.idUser">
      <option *ngFor="let user of userData" value="{{user.idUser}}" required>
        {{user.idUser}}
      </option>
    </select>
    <p>
    </p>
    <p><label for="roleSelector">Selecciona un Rol:</label></p>
    <select name="userRole" [(ngModel)]="roleUserDataCreate.idRole">
      <option *ngFor="let role of roleData" value="{{role.idRole}}" required>
        {{role.idRole}}
      </option>
    </select>
    <p>
    </p>
    <button type="submit" class="btn btn-success">Confirmar</button>&nbsp;
    <button class="btn btn-warning" id="Regresar" (click)="back()">Regresar</button>

  </form>
</div>


<div *ngIf="modify">
  <form (ngSubmit)="modForm()" id="modForm">
    <h1>Modificación</h1>
    <p>Id Usuario</p>
    <p>
      <input type="text" name="idUser" id="idUser" [(ngModel)]="roleUserModify.idUser"
        placeholder="{{roleUserModify.idUser}}" required disabled>
    </p>
    <p>Selecciona el Role: </p>
    <select name="userRole" [(ngModel)]="roleUserModify.idRole">
      <option *ngFor="let role of roleData" value="{{role.idRole}}" required>
        {{role.name}}
      </option>
      
    </select>
    <p>
    </p>
    <p>
      <button type="submit" class="btn btn-success">Confirmar</button>&nbsp;
      <button class="btn btn-warning" id="Regresar" (click)="back()">Regresar</button>

  </form>
</div>