<div class="container-fluid" id="fondo">
  <div class="container text-center">
    <h1>Opciones</h1>
    <div>
      <div *ngIf="header">
        <button class="btn btn-secondary" id="modificar" (click)="backWelcome()"><i
            class="fa-solid fa-arrow-left-long"></i> Regresar</button>&nbsp;&nbsp;
        <button class="btn btn-danger" id="modificar" (click)="revoke()"> <i class="fa-solid fa-right-from-bracket"></i>
          Salir</button>
      </div>
    </div>
  </div>

  <div *ngIf="tab">
    <div>

      <table id="table-consult">
        <thead>
          <tr>
            <th>IdOption</th>
            <th>Nombre</th>
            <th>IdMenu</th>
            <th>Orden en el menu</th>
            <th>Pagina</th>
            <th>Fecha de creación</th>
            <th>Usuario de creación</th>
            <th>Fecha de modificación</th>
            <th>Usuario de modificación</th>
            <th>Opciones</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of optionData.slice((page - 1) * pageSize, page * pageSize)">
            <td>{{data.idOption}}</td>
            <td>{{data.name}}</td>
            <td>{{getMenuName(data.idMenu)}}</td>
            <td>{{data.idOrderMenu}}</td>
            <td>{{data.page}}</td>
            <td>{{data.creationDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>{{data.userCreation}}</td>
            <td>{{data.modificationDate |date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>{{data.userModification}}</td>
            <td>
              <div>
                <button *ngIf="btnUpdate" class="btn btn-secondary" id="modificar" (click)="Modify(data)"> <i
                    class="fa-solid fa-pen-to-square"></i>
                  Modificar</button>
                <button *ngIf="!btnUpdate" class="btn btn-danger btn-sm" disabled>No Disponible</button>
              </div>
            </td>
            <td>
              <div> <button *ngIf="btnDelete" class="btn btn-danger" id="delete" (click)="Delete(data)">
                  <i class="fa-solid fa-delete-left"></i>
                  Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
      <p>Paginas</p>
      <ngb-pagination [collectionSize]="tamColeccion" [(page)]="page" [boundaryLinks]="false"></ngb-pagination>


    </div>

    <div>

    </div>
    <div>

      <button *ngIf="btnAdd" class="btn btn-primary" id="agregar" (click)="Add()"><i
          class="fa-regular fa-square-plus"></i> Agregar</button>
      &nbsp;
      <button *ngIf="exporte" class="btn btn-primary" id="exportar"><i class="fa-solid fa-download"></i>
        Exportar</button>
      &nbsp;
      <button *ngIf="print" onclick="javascript:window.print()" class="btn btn-primary" id="imprimir"><i class="fa-solid fa-print"></i>
        Imprimir</button>

    </div>
  </div>

  <div class="container" *ngIf="modify">
    <h1>Modificar</h1>
    <form (ngSubmit)="modForm()" id="modForm">
      <div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-notes-medical"></i></span>
          <input name="name" [(ngModel)]="optionDataModify.name" type="text" class="form-control"
            placeholder="{{optionDataModify.name}}" required>

          <span class="input-group-text"><i class="fa-solid fa-list-check"></i> &nbsp; Menu</span>
          <select class="form-select" name="companySelect" [(ngModel)]="optionDataModify.idMenu" required>
            <option *ngFor="let menu of menuData" value="{{menu.idMenu}}" selected>{{menu.name}}
            </option>
          </select>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa-solid fa-network-wired"></i></span>
          <input name="idOrderMenu" [(ngModel)]="optionDataModify.idOrderMenu" type="number" class="form-control"
            placeholder="{{optionDataModify.idOrderMenu}}" required>

          <span class="input-group-text"><i class="fa-solid fa-table"></i></span>
          <input name="page" [(ngModel)]="optionDataModify.page" type="text" class="form-control"
            placeholder="{{optionDataModify.page}}" required>
        </div>

        <div>
          <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
          <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container text-left" *ngIf="add">
    <form (ngSubmit)="addForm()" id="addForm">
      <h1>Agregar</h1>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-notes-medical"></i></span>
        <input name="name" [(ngModel)]="optionDataCreate.name" type="text" class="form-control" placeholder="Nombre"
          required>

        <span class="input-group-text"><i class="fa-solid fa-list-check"></i> &nbsp; Menu</span>
        <select class="form-select" name="companySelect" [(ngModel)]="optionDataCreate.idMenu" required>
          <option *ngFor="let menu of menuData" value="{{menu.idMenu}}" selected>{{menu.name}}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-network-wired"></i></span>
        <input name="name" [(ngModel)]="optionDataCreate.idOrderMenu" type="number" class="form-control"
          placeholder="Asignacion de la opción" required>

        <span class="input-group-text"><i class="fa-solid fa-table"></i></span>
        <input name="name" [(ngModel)]="optionDataCreate.page" type="text" class="form-control" placeholder="Pagina"
          required>
      </div>
      <div>
        <button type="submit" class="btn btn-secondary">Confirmar</button>&nbsp;
        <button class="btn btn-primary" id="Regresar" (click)="back()">Regresar</button>
      </div>
    </form>
  </div>
</div>
