<div class="container">
    <div>
        <h2>Bienvenido {{user}}</h2>
        <div *ngIf="!questionComplete">
            <form (ngSubmit)="questionsCreateForm()" id="questionsForm">
                <p>Por favor crea tus preguntas de seguridad</p>
                <input type="text" id="question" name="question" [(ngModel)]="question" placeholder="Pregunta" required>
                <br><br>
                <input type="password" id="response" name="response" [(ngModel)]="response" placeholder="Respuesta"
                    required>
                <br><br>
                <button type="submit" class="btn btn-success">Agregar</button>
            </form>
        </div>
        <div *ngIf="questionCreate">
            <p>Las preguntas creadas son:</p>
            <table>
                <div *ngFor="let data of QuestionsData">
                    <label>{{data.questions}}: </label>
                    <label>{{data.respond}}</label>

                </div>
            </table>
            <br>
            <button class="btn btn-success" id="Confirmar" (click)="Confirm()">Confirmar</button>
        </div>

    </div>
    <div *ngIf="questionComplete">
        <h3>Consideraciónes:</h3>
        <p>La contraseña debe cumplir con las siguientes reglas: </p>
        <ol>Cantidad minima de Mayusculas: {{BussinessRules?.passwordAmountUppercase}}</ol>
        <ol>Cantidad minima de Minusculas: {{BussinessRules?.passwordAmountLowercase}}</ol>
        <ol>Cantidad minima de Numeros: {{BussinessRules?.passwordAmountNumber}} </ol>
        <ol>Cantidad minima de Caracteres Especiales: {{BussinessRules?.passwordAmountSpecialCharacters}}</ol>
        <ol>Longitud Minima: {{BussinessRules?.passwordlength}}</ol>
        <ol>Longitud Maxima: 25</ol>
        <br>
        <h3>Crea tu Contraseña</h3>
        <form (ngSubmit)="passwordCreateForm()" id="passwordForm">
            <div>
                <input type="password" id="nueva" placeholder="Nueva Contraseña" [(ngModel)]="newPassword"
                    name="newPassword" required>
            </div>
            <br>
            <div>

                <input type="password" id="confirma" placeholder="Confirma Contraseña" [(ngModel)]="confirmPassword"
                    name="confirmPassword" required>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-success">Confirmar</button>
            </div>
        </form>
    </div>
</div>