.btn-logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
    width: 7%;
    height: 7%;
}


/* .btn-primary{
    background-color: #2d3839;
    border-color: #2d3839;
    color:#e7ecef
}

.btn-primary:hover{
  background-color: #e0e4ce;
  border-color: #e0e4ce;
  color: #2d3839;
} */



.btn-secondary {
  background-color: #114d4d;
  border-color: #114d4d;
  color: #e7ecef;
}

.btn-secondary:hover {
  background-color: #1cbebe;
  border-color: #1cbebe;
  color: #e7ecef;
}



.btn-danger {
  background-color: #27191c;
  border-color: #27191c;
  
}

.btn-danger:hover {
  background-color: #fe0101;
  border-color: #fe0101;
  color: #e7ecef;
}

.flex-colom{
  background-color: #1cbebe;
}

.bg-dark{
  background-color: #114d4d !important;
  padding-top: 1%;
}

.text-menu{
  color: #F3F3F3;
  margin-top: 5%;
}

.nav-link{
  color: white;
}

.nav-link:focus-within{
  color: white;
  background-color: #114d4d !important;
  border-style: solid;
  border-color: #0a3030 !important;
  border-width: 1px !important;

}


.box-module{
  background-color: white !important;
  width: 100%;
  padding-left: 5%;
  padding-top: 5%;
  border-radius: 10px;
}

.text-module{
  color: #114d4d !important;
}

.text-menu{
  font-size: 20px;
  font-weight: bold;
}

.banner-user{
  width: 100%;
  height: 100%;
  font-size: 40px;
  color: #114d4d;
}

.text-option:hover{
  text-decoration: underline wavy;
}

.content{
  background-color: #FBFCFF !important;
}

#meme{
  height: 40%;
  padding-left: 1%;
}


#fondo{
  color: white;
  background-image: url(https://a-static.besthdwallpaper.com/green-leaves-with-black-shadow-wallpaper-2560x1600-78534_7.jpg);
  width: 100%;
  height: 100%;
}


