<!DOCTYPE html>
<html>

<div>
  <h1>Bienvenido usuario: {{dataUser.nameUser}}</h1>
  <div *ngIf="header">
    <button class="btn btn-danger" id="modificar" (click)="revoke()">Salir</button>&nbsp;
  </div>
  <br>
</div>
<h4>Opciones</h4>

  <nav >
    <ul *ngFor="let modulo of modulos" class="nav flex-column">
      <li class="nav-item">{{modulo.name}}
       
          <ul *ngFor="let menu of modulo.menus">
            <li>   {{menu.name}}
              <ul *ngFor="let opcion of menu.opciones">
                <li><a   class="nav-link active" aria-current="page"  href="{{opcion.page}}">{{opcion.name}}</a></li>
              </ul>
            </li>
          </ul>
   
      </li>
    </ul>
  </nav>

</html>