.btn-logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
    width: 5%;
    height: 5%;
}


.btn-danger {
  background-color: #0c0b0b;
  border-color: #0c0b0b;
}
.btn-danger:hover {
  background-color: #fe0101;
  border-color: #fe0101;
  color: #e7ecef;
}



.flex-colom{
  background-color: #60748C;
}

.bg-dark{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../Images/fondo2.jpeg');
  padding-top: 3%;
}

.text-menu{
  color: #383832;
  margin-top: 5%;
}

.nav-link{
  color: white;
}

.nav-link:focus-within{
  color: white;
  background-color: #383832 !important;
  border-style: solid;
  border-color: #383832 !important;
  border-width: 1px !important;

}


.box-module{
  background-color: #c3c3bd !important;
  width: 100%;
  padding-left: 5%;
  padding-top: 5%;
  border-radius: 10px;

}

.text-module{
  color: #040404 !important;
}

.text-menu{
  font-size: 20px;
  font-weight: bold;
}

.banner-user{
  width: 100%;
  height: 100%;
  font-size: 40px;
  color: #114d4d;
}

.text-option:hover{
  text-decoration: underline wavy;
}

.content{
  background-color: #FBFCFF !important;
}

#meme{
  height: 40%;
  padding-left: 1%;
}



#fondo{
  color: white;
  image-orientation: flip;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../Images/fondo2.jpeg');
  width: 100%;
  height: 100%;
}

